:root {
  --ratio: 16 / 9;
  --add-project-form-height: max-content;
  --add-project-form-width: 700px;
  --priority-color-low: rgb(39, 206, 111);
  --priority-color-medium: rgb(255, 213, 0);
  --priority-color-high: rgb(239, 39, 99);
  --status-done-foreground: rgba(0, 0, 0, 0.164);
}

/* Reset from Josh W. Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Noto Sans", serif;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(184,1280,658)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='415' height='345.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.banner {
  display: flex;
  grid-area: banner;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(131, 216, 180);
  color: #ffffff;
  p {
    font-size: clamp(2rem, 2.3vw, 2.5rem);
    font-weight: 800;
  }
}

footer {
  text-align: center;
  font-size: clamp(1rem, 1vh, 1.2rem);
  font-weight: 500;
  background-color: black;
  color: #ffffff;
  padding: 10px 0px;
}

@media screen and (min-width: 1300px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .btn {
    font-size: 1.5rem;
    font-weight: 800;
  } */

  .main {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas: "banner banner" "nav todo-body" "footer footer";
    width: 1250px;
    height: 90%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 32px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 32px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 32px -2px rgba(0, 0, 0, 0.75);
  }

  .banner {
    display: flex;
    grid-area: banner;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(131, 216, 180);
    color: #ffffff;
  }

  .banner p {
    font-size: clamp(2rem, 3vh, 3rem);
    font-weight: 800;
  }

  footer {
    grid-area: footer;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: black;
    color: #ffffff;
    padding: 10px 0px;
  }

  .nav-bar {
    min-height: 100%;
    grid-area: nav;
    background-color: #e6f8eb;
    padding: 20px 20px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas: "default" "custom" "add-project";
    overflow: auto;
    row-gap: 15px;
  }

  .project-name-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }

  .project-name-container.default-section {
    grid-area: default;
    padding-top: 0px;
    border-bottom: 3px solid grey;
  }

  .project-name-container.custom-section {
    grid-area: custom;
    overflow: auto;
    min-height: 20%;
    padding-top: 0px;
  }

  .project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-item,
  .btn {
    border-radius: 8px;
  }

  .project-item.type-default,
  .custom-section-header,
  .add-project,
  .add-todo {
    font-size: clamp(1.1rem, 1.5vh, 1.3rem);
    font-weight: 500;
  }

  .project-item.type-custom {
    font-size: clamp(0.9rem, 1.2vh, 1.1rem);
    padding: 10px 10px 10px 20px;
  }

  .project-item.type-default,
  .custom-section-header {
    padding: 10px;
  }

  .project-item.selected {
    background-color: #cee4d4;
    border: 2px solid #83d8b4;
  }

  .edit,
  .delete,
  .expand,
  .shrink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 0px;
    border: none;
    padding: 0;
    width: 23px;
    height: 23px;
  }

  .edit svg,
  .delete svg,
  .expand svg,
  .shrink svg {
    display: block;
    width: 23px;
  }

  .delete svg:hover,
  .todo.done .delete svg:hover {
    fill: var(--priority-color-high);
  }

  .edit svg:hover path,
  .expand svg:hover path,
  .todo.done .expand svg:hover path,
  .shrink svg:hover path,
  .todo.done .shrink svg:hover path {
    stroke: var(--priority-color-low);
  }

  .add-project,
  .add-todo,
  button[type="submit"],
  .btn.cancel,
  .btn.close-form {
    background: transparent;
    color: #ffffff;
    border: none;
    padding: 8px;
    font-weight: 700;
  }

  .add-project,
  .add-todo,
  button[type="submit"] {
    background-color: rgb(131, 216, 180);
  }

  .add-project:hover,
  .add-todo:hover,
  button[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(117, 195, 162);
  }

  .btn.cancel {
    background-color: rgb(216, 131, 156);
  }

  .btn.cancel:hover {
    cursor: pointer;
    background-color: rgb(195, 117, 141);
  }

  .project-item:hover {
    cursor: pointer;
    background-color: #ffffff;
  }

  .todo-container {
    grid-area: todo-body;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 20px 40px;
    gap: 20px;
  }

  .todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: max-content;
    background-color: #edebeb;
    padding: 15px;
    transform: translateY(0px); /* Add this line */
    transition: transform 0.2s ease; /* Add this line for smooth transition */
    border-radius: 5px;
    row-gap: 15px;
  }

  .todo .todo-progress {
    display: flex;
    align-items: center;
  }

  .todo input[type="checkbox"] {
    width: 23px;
    height: 23px;
  }

  .todo > * {
    display: flex;
    align-items: center;
  }

  .todo-title,
  .todo-detail .label {
    font-weight: 600;
  }

  .todo-detail {
    display: flex;
  }

  .todo-detail .label {
    width: 12%;
  }

  .todo.done .todo-title,
  .todo.done .todo-description,
  .todo.done .todo-due-date {
    text-decoration: line-through;
    color: var(--status-done-foreground);
  }

  .todo.done .delete svg {
    fill: var(--status-done-foreground);
  }

  .todo.done .edit {
    cursor: not-allowed;
    user-select: none;
  }

  .todo.done .edit svg path,
  .todo.done .expand svg path,
  .todo.done .shrink svg path {
    stroke: var(--status-done-foreground);
  }

  .todo-left-cont {
    gap: 20px;
  }

  .todo-right-cont {
    gap: 30px;
  }

  .todo-expanded-cont {
    display: block;
    width: 100%;
    padding-top: 10px;
    border-top: 2px solid lightgrey;
  }

  .project-item:hover,
  .todo:hover {
    -webkit-box-shadow: 6px 7px 9px -3px rgba(97, 93, 97, 1);
    -moz-box-shadow: 6px 7px 9px -3px rgba(97, 93, 97, 1);
    box-shadow: 6px 7px 9px -3px rgba(97, 93, 97, 1);
    transform: translateY(-3px); /* Add this line */
    transition: transform 0.3s ease; /* Add this line for smooth transition */
  }

  .todo.priority-low {
    border-left: 5px solid var(--priority-color-low);
  }

  .todo.priority-medium {
    border-left: 5px solid var(--priority-color-medium);
  }

  .todo.priority-high {
    border-left: 5px solid var(--priority-color-high);
  }

  .add-todo {
    order: 2;
    width: 30%;
    align-self: center;
  }

  .add-project-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .add-project-form input {
    padding: 5px;
    border-radius: 5px;
    border: transparent;
  }

  input[type="text"]:focus {
    border: transparent;
    outline: none;
  }

  input[type="text"]::placeholder {
    font-style: italic;
  }

  .add-project-form .btn-cont {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }

  .btn-cont .btn {
    flex: 1;
  }

  .add-todo-form-container {
    position: absolute;
    border: 2px solid grey;
    border-radius: 5px;
  }

  .add-todo-form-container .banner {
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-todo-form-container .banner button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 800;
    padding: 5px;
    margin-right: 5px;
  }

  .add-todo-form-container .banner button:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .add-todo-form {
    border-radius: 0px 0px 5px 5px;
    background-color: #ffffff;
    height: var(--add-project-form-height);
    width: var(--add-project-form-width);
    opacity: 0;
    padding: 30px;
    display: grid;
    grid-template-areas: "title title" "description description" "priority duedate" "submit submit";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    gap: 15px;
  }

  .add-todo-form.active {
    opacity: 1;
  }

  .blur-overlay.active {
    position: absolute;
    backdrop-filter: blur(15px);
    height: 100%;
    width: 100%;
  }

  .entry,
  .priority-options {
    padding: 5px;
  }

  .title > input,
  .description > input {
    width: 100%;
    border: transparent;
  }

  .title > input:focus,
  .description > input:focus {
    border: transparent;
  }

  .title {
    grid-area: title;
    font-size: 1.6rem;
    font-weight: 800;
  }

  .description {
    grid-area: description;
    font-size: 1.1rem;
  }

  .priority-options {
    grid-area: priority;
    border: none;
    display: flex;
    font-size: 1.1rem;
    gap: 20px;
  }

  label[for="low"] {
    color: var(--priority-color-low);
  }

  label[for="medium"] {
    color: var(--priority-color-medium);
  }

  label[for="high"] {
    color: var(--priority-color-high);
  }

  .due-date {
    grid-area: duedate;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 1.1rem;
    width: max-content;
  }

  .due-date > input {
    border: transparent;
  }

  legend,
  .due-date label {
    font-weight: 700;
  }

  .submit-todo {
    grid-area: submit;
    font-size: 1.3rem;
    width: 30%;
    justify-self: center;
    margin-top: 20px;
  }
}
